@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.fondoExt{
    width: 100%;
    height: 100%;
    z-index: auto;
}

.Extendida{   
    margin-top: -148%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.BotonC{
    margin-left: 10%;
    color: #fff;
    background: rgb(75, 2, 117);
    border-radius: 8px;    
}

.fotopersonaje{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50% ;
    
}

.infopj{
    padding-top: 5%;
    text-align: center;
    font-family: "Creepster";
    font-size: 20px;
    color: rgb(75, 2, 117);
}

.Ver{
    margin: 15px;
    color: #fff ;
    background: rgb(75, 2, 117);
    font-size: 95%;
    border-radius: 8px;  
}

.link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.fondoExtpc{
    display: none;
}

 @media (min-width:768px){
    .infopj{
        font-size: 45px;
    }
    .BotonC{
        font-size: 240%;
        border-radius: 15px; 

    }
    
    .Ver{
        margin-left: 9%;
        font-size: 35px;
        border-radius: 12px;  
    }
    .fondoExtpc{
        display: none;
    }
 }

 @media (min-width:992px){

    .fondoExt{
        display: none; 
    }

    .Extendida{   
        position: absolute;
        padding: 15px;
        margin-top: -40%;
        margin-left: 25%;
        width: 50%;
        background-color: #fff;
        grid-template-columns:repeat(2,1fr); 
        display: grid;
        -webkit-box-shadow: 5px 6px 8px -1px rgba(173,171,173,1);
        -moz-box-shadow: 5px 6px 8px -1px rgba(173,171,173,1);
        box-shadow: 5px 6px 8px -1px rgba(173,171,173,1);
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
    }

    .BotonC{
        color: rgb(46, 2, 117);
        background: none;
        border: none;
        font-size: 20px;
    }

    .closelink{
        position: absolute;
    }
    .fotopersonaje{   
        margin-top: 3%;
        width: 75%;             
        -webkit-box-shadow: 0px 0px 13px 1px rgba(168,165,168,1);
        -moz-box-shadow: 0px 0px 13px 1px rgba(168,165,168,1);
        box-shadow: 0px 0px 13px 1px rgba(168,165,168,1);
    }
    .fotopersonaje:hover{
        transform:  rotateY(180deg); 
    }
    .infopj{
        font-size: 25px;
        text-align: center;
        margin-top: 15%;
        color: rgb(46, 2, 117);
    }
    .fondoExtpc{
        width: 100%;
        height: 100vh;
        display: block;  
    }

    .Ver{
        border: 1px rgb(46, 2, 117) solid;
        background: #fff;
        color: rgb(46, 2, 117);
        font-size: 25px;
        font-family: "Creepster";
    }
 }