@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.home{
    grid-template-columns:repeat(3,1fr); 
    margin: 0px;
    padding: 0px;
}

.fondo{
    width: 100%;
    height: 15%;
    -webkit-box-shadow: -1px 2px 18px -8px #ccc;
    -moz-box-shadow: -1px 2px 18px -8px #ccc;
    box-shadow: -1px 2px 18px -8px #ccc;
}

.foto{
    margin-top: -10%;
    margin-left: 5%;
    width: 20%;
    border-radius: 50%;
    border: 3px  #fff solid;
    -webkit-box-shadow: -1px 2px 18px -8px #ccc;
    -moz-box-shadow: -1px 2px 18px -8px #ccc;
    box-shadow: -1px 2px 18px -8px #ccc;

}

.texto{
    
    margin-left: 28%;
    font-size: 120%;
    color: rgb(80, 240, 40);
    font-family: "Creepster";
}

.botones{
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    color: rgb(167, 167, 167);

    font-family: "Creepster"
    
}