
.Episodios{
    margin: 20px;
    padding: 3%;
    width: 150px;
    height: auto;
    text-align: center;
    border: 1px #fff solid;
    border-radius: 15px;
    background-color:  #fff;
    color: #6dc7dd;
    font-size: 18px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(242,242,242,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(242,242,242,1);
    box-shadow: 10px 10px 5px 0px rgba(242,242,242,1);
}

@media (min-width:992px){
.Episodios:hover{
    transform: scale(1.1);
}
}