.card{
    grid-template-columns:repeat(2,1fr); 
    display:grid;                              
    position:relative;
    align-items:center;
    margin: 1rem;
    padding: 0.5rem; 
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: -1px 2px 18px -8px rgb(2, 82, 136);
    -moz-box-shadow: -1px 2px 18px -8px rgb(2, 82, 136);
    box-shadow: -1px 2px 18px -8px rgb(2, 82, 136);

}
.imagen{
    width: 100%;
    border-radius: 20px;
}

.info{
    text-align: center;
    color: #6dc7dd;
    font-family: "Creepster";
}

.card-body{
    text-decoration: none;
}

@media (min-width:768px) {
    .card{
        grid-template-columns:repeat(2,1fr); 
        display:grid;                              
        position:relative;
        align-items:center;
        margin: 1rem;
        padding: 0.5rem; 
        border-radius: 20px;
    
    } 

}

@media (min-width:992px){
    .card{
        grid-template-columns:repeat(1,1fr);
    }
    .card:hover{
        -webkit-box-shadow: -1px 6px 28px -8px rgb(80, 240, 40);
        -moz-box-shadow: -1px 6px 28px -8px rgb(80, 240, 40);
        box-shadow: -1px 6px 28px -8px rgb(80, 240, 40);
    }
    .imagen:hover{
        transform:  rotateY(180deg); 
    }
}